
// Общие стили
*, *::after, *::before {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html, body {
  height: 100%;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.d-f {
  display: flex;
}

.a-i-c {
  align-items: center;
}

.a-i-f-e {
  align-items: flex-end;
}

.j-c-s-b {
  justify-content: space-between;
}

.j-c-c {
  justify-content: center;
}

.j-c-f-e {
  justify-content: flex-end;
}

.m-1 {
  margin: 10px;
}

.mb-1 {
  margin-bottom: 10px;
}

.w-50 {
  width: 50%;
}

.pr-1 {
  padding-right: 1px;
}



